/* .widget-container {
    @apply fixed bottom-5 right-5 w-[400px] h-[803px] bg-white border border-gray-200 rounded-lg shadow-lg z-[9999];
  }

  .widget-button {
    @apply fixed bottom-5 right-5 px-6 py-3 bg-[#4C7B98] text-white border-none rounded-full cursor-pointer z-[9999];
  } */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Dropdown.css */
.dropdown {
  position: relative; /* Needed for absolute positioning of the menu */
  display: inline-block; /* So it doesn't take full width */
}

.dropdown-toggle {
  /* Style your toggle button/element as needed */
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  /* Show on hover */
  opacity: 1;
  pointer-events: auto; /* Allow interaction */
  transform: translateY(0); /* Slide down to position */
}

.dropdown-item {
  padding: 10px;
  margin: 4px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  border-radius: 12px; /* Highlight on hover */
}

.dropdown-item a {
  text-decoration: underline;
  color: #4c7b9a;
  font-weight: 400;
  display: block; /* Make <a> fill the <li> */
}

.dropdown-text {
  color: #4c7b9a;
  font-weight: 400;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  width: 200px;
  top: 0;
  background-color: white;
  border-top: none; /* Remove top border */
  margin: 4px 0 0 0;
  border-radius: 12px;
  padding: 0;
  list-style: none;
  z-index: 10; /* Ensure it's above other content */
  display: block; /* Important: Make it visible when open */
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Prevent interaction when hidden */
  transition:
    opacity 0.3s ease,
    transform 0.3s ease; /* Smooth transitions */
  transform: translateY(-10px);
  border: 1px solid #4c7b9a; /* Slide slightly up initially */
}

.bot-spacing {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.products-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.truncate {
  width: 330px;
  text-align: justify;
}

.product-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.heading {
  font-weight: 700;
}

.modal-overlay {
  position: absolute; /* Absolute within the parent container */
  top: 0;
  left: 0;
  width: 100%; /* Or a specific width if you prefer */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-end; /* Align to the bottom */
  z-index: 1000; /* Ensure it's on top */
  transition:
    opacity 0.7s ease,
    visibility 0.7s ease; /* Smooth transition */
  opacity: 1; /* Initially visible */
  visibility: visible; /* Initially visible */

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.modal-content {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transform: translateY(100%); /* Initially hidden below the viewport */
  transition: transform 0.7s ease-in-out; /* Smooth transition for sliding up */
}

/* Show the modal with animation */
.modal-overlay.show .modal-content {
  transform: translateY(0); /* Slide up to the visible position */
}

/* Hide the modal with animation */
.modal-overlay:not(.show) .modal-content {
  transform: translateY(100%); /* Slide down to hide */
}

/* When the modal is closed, hide the overlay */
.modal-overlay:not(.show) {
  opacity: 0;
  visibility: hidden;
}

.product-message {
  @apply flex  p-2 bg-[#F5F5F5] rounded-[8px] text-[#212121] shadow-md no-underline hover:cursor-pointer;
}

.product-image-container {
  display: flex;
  width: 100%;
  gap: 16px;
}

.product-things {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.price-text {
  font-weight: 700;
}
.product-image {
  @apply object-cover rounded-xl aspect-square md:w-[128px] md:h-[128px] w-[128px] h-[128px];
}

.conversation-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100%;
  width: 100%;
  color: #4C7B98;
  font-family: Montserrat;
  font-size: 18px;
  word-spacing: 2px;
  line-height: 1.6;
  font-weight: 500;
}

.conversation-loading-text{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  /* .widget-container {
    @apply fixed bottom-5 right-5 w-[400px] h-[803px] bg-white border border-gray-200 rounded-lg 
    shadow-xl z-[9999] flex flex-col;
  } */

  .modal-overlay {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .widget-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: auto;
    min-height: calc(100vh - 150px);
    max-height: calc(100vh - 50px);
    background: white;
    z-index: 9999;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-color: 'red';
    border-radius: 16px;
    box-shadow:
      0 0 18px 8px rgba(0, 0, 0, 0.1),
      0 0 32px 32px rgba(0, 0, 0, 0.08);
    transition: max-height 3s ease;

    /* overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-scrollbar : none; */
  }

  .footer-icon-image {
    color: red;
  }

  .widget-container-body {
    @apply flex-col flex-1 flex overflow-hidden;
  }

  .widget-button {
    @apply fixed bottom-5 right-5 px-4 py-3.5 mt-1
     bg-[#4C7B98] text-white border-none rounded-full cursor-pointer z-[9999];
  }

  .open-button-icon {
    @apply h-8 w-8;
  }

  .online-text {
    @apply text-[#4C7B9A] font-bold tracking-[1.6];
  }

  .widget-header {
    @apply flex justify-end items-center p-6 border-2;
  }

  .widget-chat-header {
    @apply flex justify-between p-6;
  }

  .widget-chat-header-avatar {
    @apply flex justify-end p-6;
  }

  .header-component-position {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-icon-container {
    @apply h-6 w-6 rounded-md hover:cursor-pointer hover:bg-[#dee9ef] flex justify-center items-center p-2;
  }

  .widget-content {
    @apply p-6 flex flex-col items-center gap-6 overflow-auto;
  }

  .widget-content-upper-section {
    @apply flex flex-col items-center;
  }

  .widget-nav {
    @apply flex gap-2 items-center;
  }

  .widget-nav-chat {
    @apply flex justify-end items-center;
  }

  .widget-username {
    @apply w-10 h-10 bg-[#4C7B98] flex justify-center items-center text-white rounded-full text-[28px];
  }

  .widget-hello-message-container {
    @apply flex gap-4;
  }

  .widget-hello-message {
    @apply leading-[1.6] text-[40px] text-[#212121] font-bold;
  }

  .widget-message-container {
    @apply flex flex-col text-[#616161] text-center px-5;
  }

  .widget-message-heading {
    @apply leading-[1.6] text-[18px] font-bold tracking-[0.2px];
  }

  .widget-message {
    @apply leading-[1.6] text-[18px] font-normal tracking-[0.2px];
  }

  .widget-question-section {
    @apply flex flex-col gap-[38px] w-full;
  }

  .widget-question-top {
    @apply flex flex-col gap-3;
  }

  .product-question {
    /* @apply flex justify-between p-5 items-center bg-[#F0F4F7] rounded-2xl hover:bg-[#dee9ef] hover:cursor-pointer border; */

    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border: 1px solid #4c7b9a;
    background-color: #f0f4f7;
    border-radius: 16px;
  }

  .product-question:hover {
    /* @apply flex justify-between p-5 items-center border-[1px] border-black bg-[#F0F4F7] rounded-2xl hover:bg-[#dee9ef] hover:cursor-pointer; */

    cursor: pointer;
    background: #dee9ef;
  }

  .product-question-text {
    @apply text-[#4C7B9A];
  }

  .chat-with-us {
    @apply w-full border-none my-2 p-5 bg-[#4C7B98] rounded-[20px] flex justify-between hover:bg-[#1a5270] hover:cursor-pointer items-center;
  }

  .speak-with-agent {
    padding: 20px;
    margin: 4px;
    background-color: #f0f4f7;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #4c7b9a;
  }

  .speak-with-agent:hover {
    background-color: #edf7fe;
    cursor: pointer;
  }

  .chat-question-text {
    @apply text-white text-base font-bold tracking-[1.6];
  }

  .agent-question-text {
    @apply text-[#4C7B98] font-bold tracking-[1.6];
  }

  .separator-container {
    @apply px-6;
  }

  .separator {
    @apply bg-[#9E9E9E] h-[1px];
  }

  .footer {
    @apply flex px-6 py-4 items-center gap-1;
  }

  .footer-chat {
    @apply flex px-6 py-4 items-center gap-2;
  }

  .footer-icon {
    @apply w-full py-2 flex justify-center items-center flex-col rounded-xl hover:cursor-pointer  hover:bg-[#dee9ef];
  }

  .footer-icon-container-chat {
    @apply mt-1;
  }

  .footer-text-home {
    @apply mt-1 leading-[1.6] text-[10px] font-bold tracking-[0.2px];
  }

  .send-message {
    @apply flex justify-center items-center bg-[#4C7B9A] rounded-full min-h-[60px] min-w-[60px] shadow-lg border-none hover:bg-[#264e69] hover:cursor-pointer;
  }

  .send-message-icon {
    @apply pt-2 pr-1 hover:cursor-pointer;
  }

  .cover {
    display: flex;
    overflow: auto;
    flex-direction: column;
    flex: 1;
  }

  .messages-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.75rem;
    width: auto;
    overflow-y: auto;
    padding: 1.5rem;
    flex-shrink: 1;
  }

  .user-message-container {
    @apply flex w-full justify-end;
  }

  .user-message {
    @apply flex max-w-[85%] p-2 bg-[#4C7B9A] rounded-[8px] text-white;
  }

  .bot-message-container {
    @apply flex w-full justify-start;
  }

  .bot-message {
    @apply flex max-w-[85%] p-2 bg-[#F5F5F5] rounded-[8px] text-[#212121];
  }

  .message-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #4c7b9a;
    background-color: #f0f4f7;
    border-radius: 16px;
    flex: 1;
  }

  .message-input-container:focus-within {
    outline: 1px solid #39759d;
  }

  .message-input {
    border-radius: 16px;
    background-color: #f0f4f7;
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    font-size: 14px;
  }

  .loading-container {
    @apply flex justify-start items-start h-[40px];
  }

  .loading-inner-container {
    @apply h-full w-[95%] mt-4;
  }

  .line {
    @apply inline-block w-[10px] h-[10px] rounded-full
    mx-[5px] bg-[#4C7B9A];
  }

  .message-indicator .line:nth-last-child(1) {
    @apply animate-pulse duration-700 delay-100;
  }

  .message-indicator .line:nth-last-child(2) {
    @apply animate-pulse duration-700 delay-200;
  }

  .message-indicator .line:nth-last-child(3) {
    @apply animate-pulse duration-700 delay-300;
  }

  .name-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name-modal-header-text {
    color: #212121;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
  }

  .modal-separator-container {
    @apply mt-[10px];
  }

  .modal-separator {
    @apply bg-[#EEE] h-[1px];
  }

  .input-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 38px;
  }

  .newsletter-container {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 20px;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .newsletter-signup-text {
    color: #9e9e9e;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.2px;
  }

  .name-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #4c7b9a;
    background-color: #f0f4f7;
    padding-right: 20px;
    border-radius: 16px;
  }

  .name-input-container:focus-within {
    outline: 1px solid #39759d;
  }

  .email-text-error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #a60e11;
    background-color: #f0f4f7;
    padding-right: 20px;
    border-radius: 16px;
  }

  .email-text-error:focus-within {
    outline: 1px solid #a60e11;
  }

  .name-input-container-text {
    border-radius: 16px;
    background-color: #f0f4f7;
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    font-size: 14px;
  }

  .close-name-modal {
    padding: 8px;
  }

  .close-name-modal:hover {
    cursor: pointer;
    background: #dee9ef;
    padding: 8px;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 767px) {
  /* .widget-container {
    @apply fixed left-0 top-0 w-[100%] h-[100%] bg-white z-[9999] box-border flex flex-col gap-1;
  } */


  .open-button-icon {
    @apply h-6 w-6;
  }


  .widget-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    /* overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-scrollbar: none; */
  }

  .widget-container-body {
    @apply flex-col flex-1 flex overflow-hidden;
  }
  .cover {
    display: flex;
    overflow: auto;
    flex-direction: column;
    flex: 1;
  }
  .widget-button {
    @apply fixed bottom-5 right-5 px-4 py-3.5 mt-1 bg-[#4C7B98] text-white border-none rounded-full cursor-pointer z-[9999];
  }

  .online-text {
    @apply text-[#4C7B9A] font-bold tracking-[1.5];
  }

  .widget-header {
    @apply flex justify-end items-center p-6 border-2 mb-[15px];
  }

  .widget-chat-header {
    @apply flex justify-between p-6;
  }

  .nav-icon-container {
    @apply h-6 w-6 rounded-md hover:cursor-pointer hover:bg-[#dee9ef] flex justify-center items-center p-2;
  }

  .widget-content {
    @apply p-6 flex flex-col items-center gap-6;
  }

  .widget-content-upper-section {
    @apply flex flex-col items-center;
  }

  .widget-nav {
    @apply flex gap-2 items-center;
  }

  .widget-username {
    @apply w-10 h-10 bg-[#4C7B98] flex justify-center items-center text-white rounded-full text-[28px];
  }

  .widget-hello-message-container {
    @apply flex gap-4;
  }

  .widget-hello-message {
    @apply leading-[1.6] text-[40px] text-[#212121] font-bold;
  }

  .widget-message-container {
    @apply flex flex-col text-[#616161] text-center px-5;
  }

  .widget-message-heading {
    @apply leading-[1.6] text-[18px] font-bold tracking-[0.2px];
  }

  .widget-message {
    @apply leading-[1.6] text-[18px] font-normal tracking-[0.2px];
  }

  .widget-question-section {
    @apply flex flex-col gap-[38px] w-full;
  }

  .widget-question-top {
    @apply flex flex-col gap-3;
  }

  .product-question {
    /* @apply flex justify-between p-5 items-center border-[1px] border-black bg-[#F0F4F7] rounded-2xl hover:bg-[#dee9ef] hover:cursor-pointer; */

    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border: 1px solid #4c7b9a;
    background-color: #f0f4f7;
    border-radius: 16px;
  }

  .product-question:hover {
    /* @apply flex justify-between p-5 items-center border-[1px] border-black bg-[#F0F4F7] rounded-2xl hover:bg-[#dee9ef] hover:cursor-pointer; */

    cursor: pointer;
    background: #dee9ef;
  }

  .question-arrow-icon {
    margin-top: 5px;
  }

  /* .add-border {
    border: "1px solid red"
  } */

  .product-question-text {
    @apply text-[#4C7B9A];
  }

  .chat-with-us {
    @apply w-full border-none my-2 p-5 bg-[#4C7B98] rounded-[20px] flex justify-between hover:bg-[#1a5270] hover:cursor-pointer items-center;
  }

  .chat-with-us .disabled {
    pointer-events: none;
    opacity: 0.7;
    cursor: default;
  }

  .speak-with-agent {
    padding: 20px;
    margin: 4px;
    background-color: #f0f4f7;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #4c7b9a;
  }

  .speak-with-agent:hover {
    background-color: #edf7fe;
    cursor: pointer;
  }

  .chat-question-text {
    @apply text-white font-bold tracking-[1.5] text-base;
  }

  .agent-question-text {
    @apply text-[#4C7B98] font-bold tracking-[1.6];
  }

  .separator-container {
    @apply px-6;
  }

  .separator {
    @apply bg-[#9E9E9E] h-[1px];
  }

  .footer {
    @apply flex justify-between px-6 py-4 items-center gap-5 h-[70px];
  }

  .footer-icon {
    @apply w-full h-[32px] flex justify-center items-center flex-col;
  }

  .footer-chat {
    @apply flex px-6 py-4 items-center gap-2;
  }

  .footer-icon-container {
    @apply p-1;
  }

  .footer-text-home {
    @apply mt-1 leading-[1.6] text-[10px] font-bold tracking-[0.2px] text-[#9E9E9E];
  }

  .footer-icon-image:hover {
    color: red;
  }

  .footer-text-chat {
    @apply leading-[1.6] text-[10px] font-bold tracking-[0.2px] text-[#4C7B98];
  }

  .send-message {
    @apply flex justify-center items-center bg-[#4C7B9A] rounded-full min-h-[60px] min-w-[60px] shadow-lg border-none hover:bg-[#264e69] hover:cursor-pointer;
  }

  .send-message-icon {
    @apply pt-2 pr-1 hover:cursor-pointer;
  }

  .messages-container {
    @apply p-6 flex flex-col gap-6 overflow-y-scroll no-scrollbar h-full w-auto;
  }

  .user-message-container {
    @apply flex w-full justify-end;
  }

  .user-message {
    @apply flex max-w-[85%]  p-2 bg-[#4C7B9A] rounded-[8px] text-white;
  }

  .bot-message-container {
    @apply flex w-full justify-start;
  }

  .bot-message {
    @apply flex max-w-[85%]  p-2 bg-[#F5F5F5] rounded-[8px] text-[#212121];
  }

  .message-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #4c7b9a;
    background-color: #f0f4f7;
    padding-right: 20px;
    border-radius: 16px;
    flex: 1;
  }

  .message-input-container:focus-within {
    outline: 1px solid #39759d;
  }

  .message-input {
    border-radius: 16px;
    background-color: #f0f4f7;
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    font-size: 14px;
  }

  .loading-container {
    @apply flex justify-start items-start h-[40px];
  }

  .loading-inner-container {
    @apply h-full w-[95%] mt-4;
  }

  .line {
    @apply inline-block w-[10px] h-[10px] rounded-full
    mx-[5px] bg-[#4C7B9A];
  }

  .message-indicator .line:nth-last-child(1) {
    @apply animate-pulse duration-700 delay-100;
  }

  .message-indicator .line:nth-last-child(2) {
    @apply animate-pulse duration-700 delay-200;
  }

  .message-indicator .line:nth-last-child(3) {
    @apply animate-pulse duration-700 delay-300;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-end; /* Align to the bottom */
    z-index: 1000; /* Ensure it's on top */
    transition:
      opacity 0.7s ease,
      visibility 0.7s ease; /* Smooth transition */
    opacity: 1; /* Initially visible */
    visibility: visible; /* Initially visible */
  }

  .modal-content {
    background-color: white;
    width: 100%; /* Takes half the screen height */
    padding: 20px;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    transform: translateY(100%); /* Initially hidden below the viewport */
    transition: transform 0.7s ease-in-out; /* Smooth transition for sliding up */
  }

  /* Show the modal with animation */
  .modal-overlay.show .modal-content {
    transform: translateY(0); /* Slide up to the visible position */
  }

  /* Hide the modal with animation */
  .modal-overlay:not(.show) .modal-content {
    transform: translateY(100%); /* Slide down to hide */
  }

  /* When the modal is closed, hide the overlay */
  .modal-overlay:not(.show) {
    opacity: 0;
    visibility: hidden;
  }

  .name-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name-modal-header-text {
    color: #212121;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
  }

  .modal-separator-container {
    @apply mt-[10px];
  }

  .modal-separator {
    @apply bg-[#EEE] h-[1px];
  }

  .input-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 38px;
  }

  .newsletter-container {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 20px;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .newsletter-signup-text {
    color: #9e9e9e;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.2px;
  }

  .name-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #4c7b9a;
    background-color: #f0f4f7;
    padding-right: 20px;
    border-radius: 16px;
  }

  .name-input-container:focus-within {
    outline: 1px solid #39759d;
  }

  .name-input-container-text {
    border-radius: 16px;
    background-color: #f0f4f7;
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    font-size: 14px;
  }

  .email-text-error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #a60e11;
    background-color: #f0f4f7;
    padding-right: 20px;
    border-radius: 16px;
  }

  .email-text-error:focus-within {
    outline: 1px solid #a60e11;
  }

  .close-name-modal {
    padding: 8px;
  }

  .close-name-modal:hover {
    cursor: pointer;
    background: #dee9ef;
    padding: 8px;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 376px) {
  .widget-header {
    @apply flex justify-end items-center p-6 border-2 mb-[15px];
  }

  .widget-hello-message {
    @apply leading-[1.6] text-[32px] text-[#212121] font-bold;
  }

  .widget-message-heading {
    @apply leading-[1.6] text-[14px] font-bold tracking-[0.2px];
  }

  .widget-message {
    @apply leading-[1.6] text-[14px] font-normal tracking-[0.2px];
  }

  .widget-question-section {
    @apply gap-[15px];
  }

  .product-question {
    @apply p-4;
  }

  .chat-with-us {
    @apply my-3 p-4;
  }

  .speak-with-agent {
    @apply my-3 p-4;
  }

  .chat-question-text {
    @apply text-[14px] text-white font-bold tracking-[1.6];
  }
}

.widget-container {
  font-family: 'Montserrat' !important;
}

.loader {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
