/* Base styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown-item {
  padding: 10px;
  margin: 4px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  border-radius: 12px;
}

.dropdown-item a {
  text-decoration: underline;
  color: #4c7b9a;
  font-weight: 400;
  display: block;
}

.dropdown-text {
  color: #4c7b9a;
  font-weight: 400;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  width: 200px;
  top: 0;
  background-color: white;
  border: 1px solid #4c7b9a;
  border-top: none;
  margin: 4px 0 0 0;
  border-radius: 12px;
  padding: 0;
  list-style: none;
  z-index: 10;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transform: translateY(-10px);
}

/* Common styles for all screen sizes */
.widget-container {
  position: fixed;
  z-index: 9999;
  background: white;
  display: flex;
  min-height: 704px;
  height: auto;
  /* max-height: 704px; */
  max-height: calc(100vh - 50px);
  flex-direction: column;
  font-family: 'Montserrat' !important;
  box-shadow:
    0 0 18px 8px rgba(0, 0, 0, 0.1),
    0 0 32px 32px rgba(0, 0, 0, 0.08);
}

.widget-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
  border-width: 2px;
  margin-bottom: 15px;
}

.widget-container-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.cover {
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex: 1;
}

/* Common button styles */
.widget-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4c7b98;
  color: white;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  z-index: 9999;
}

/* Component-specific styles shared across breakpoints */
.online-text {
  color: #4c7b9a;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.nav-icon-container {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.nav-icon-container:hover {
  background-color: #dee9ef;
}

.widget-nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.widget-username {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #4c7b98;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 9999px;
  font-size: 28px;
}

.widget-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow: auto;
}

.widget-content-upper-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget-hello-message-container {
  display: flex;
  gap: 1rem;
}

.widget-message-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1.25rem;
}

.widget-question-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 38px;
}

.widget-question-top {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.widget-chat-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.widget-chat-header-avatar {
  display: flex;
  justify-content: end;
  padding: 1.5rem;
}

.product-question {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  align-items: center;
  border: 1px solid #4c7b9a;
  background-color: #f0f4f7;
  border-radius: 1rem;
}

.product-question:hover {
  cursor: pointer;
  background: #dee9ef;
}

.product-question-text {
  color: #4c7b9a;
}

.chat-with-us {
  width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 1.25rem;
  background-color: #4c7b98;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.chat-with-us:hover {
  background-color: #1a5270;
}

.chat-with-us.disabled {
  pointer-events: none;
  opacity: 0.7;
  cursor: default;
}

.speak-with-agent {
  padding: 1.25rem;
  margin: 0.25rem;
  background-color: #f0f4f7;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid #4c7b9a;
}

.speak-with-agent:hover {
  background-color: #edf7fe;
  cursor: pointer;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: auto;
  padding: 1.5rem;
}

.user-message-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.user-message {
  display: flex;
  max-width: 70%;
  padding: 1rem;
  background-color: #4c7b9a;
  border-radius: 1.25rem;
  color: white;
}

.bot-message-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.bot-message {
  display: flex;
  max-width: 70%;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 1.25rem;
  color: #212121;
}

.message-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid #4c7b9a;
  background-color: #f0f4f7;
  border-radius: 1rem;
  flex: 1;
}

.message-input-container:focus-within {
  outline: 1px solid #39759d;
}

.message-input {
  border-radius: 1rem;
  background-color: #f0f4f7;
  width: 100%;
  padding: 1.25rem;
  outline: none;
  border: none;
  font-size: 0.875rem;
}

/* Loading indicator */
.loading-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 2.5rem;
}

.loading-inner-container {
  height: 100%;
  width: 95%;
  margin-top: 1rem;
}

.line {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 9999px;
  margin: 0 0.3125rem;
  background-color: #4c7b9a;
}

.message-indicator .line:nth-last-child(1) {
  animation: pulse 700ms ease-in-out 100ms infinite;
}

.message-indicator .line:nth-last-child(2) {
  animation: pulse 700ms ease-in-out 200ms infinite;
}

.message-indicator .line:nth-last-child(3) {
  animation: pulse 700ms ease-in-out 300ms infinite;
}

/* Modal styles */
.modal-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
  transition:
    opacity 0.7s ease,
    visibility 0.7s ease;
  opacity: 1;
  visibility: visible;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.modal-content {
  background-color: white;
  width: 100%;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
}

.modal-overlay.show .modal-content {
  transform: translateY(0);
}

.modal-overlay:not(.show) {
  opacity: 0;
  visibility: hidden;
}

.modal-overlay:not(.show) .modal-content {
  transform: translateY(100%);
}

.name-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-modal-header-text {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
}

.modal-separator-container {
  margin-top: 0.625rem;
}

.modal-separator {
  background-color: #eee;
  height: 1px;
}

.input-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2.375rem;
}

.newsletter-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 1.5rem 0;
}

.newsletter-signup-text {
  color: #9e9e9e;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.2px;
}

.name-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid #4c7b9a;
  background-color: #f0f4f7;
  padding-right: 1.25rem;
  border-radius: 1rem;
}

.name-input-container:focus-within {
  outline: 1px solid #39759d;
}

.name-input-container-text {
  border-radius: 1rem;
  background-color: #f0f4f7;
  width: 100%;
  padding: 1.25rem;
  outline: none;
  border: none;
  font-size: 0.875rem;
}

.email-text-error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid #a60e11;
  background-color: #f0f4f7;
  padding-right: 1.25rem;
  border-radius: 1rem;
}

.email-text-error:focus-within {
  outline: 1px solid #a60e11;
}

.close-name-modal {
  padding: 0.5rem;
}

.close-name-modal:hover {
  cursor: pointer;
  background: #dee9ef;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

.footer-icon {
  /* @apply w-full py-2 flex justify-center items-center flex-col rounded-xl hover:cursor-pointer  hover:bg-[#dee9ef]; */

  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-icon:hover {
  cursor: pointer;
  background-color: #dee9ef;
}

.separator-container {
  padding: 0 1.5rem;
}

.separator {
  background: #9e9e9e;
  height: 1px;
}

.footer-text-home {
  @apply mt-1 leading-[1.6] text-[10px] font-bold tracking-[0.2px];
}

.agent-question-text {
  color: #4c7b98;
  font-weight: bold;
  line-height: 1.6;
}

.footer-chat {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 0.5rem;
}

/* Common modal styles */
.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
  transition:
    opacity 0.7s ease,
    visibility 0.7s ease;
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background-color: white;
  width: 100%;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
}

.modal-overlay.show .modal-content {
  transform: translateY(0);
}

.modal-overlay:not(.show) {
  opacity: 0;
  visibility: hidden;
}

.modal-overlay:not(.show) .modal-content {
  transform: translateY(100%);
}

.widget-hello-message {
  line-height: 1.6;
  font-size: 32px;
  color: #212121;
  font-weight: bold;
}

.widget-message-heading {
  font-weight: bold;
}

.widget-message-heading,
.widget-message {
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #616161;
}

.chat-question-text {
  font-size: 18px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.send-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4c7b9a;
  border-radius: 100%;
  min-height: 60px;
  min-width: 60px;
  border: none;
  padding-top: 5px;
  padding-right: 10px;
}

.send-message:hover {
  cursor: pointer;
  background: #264e69;
}

.send-messagde {
  @apply flex justify-center items-center bg-[#4C7B9A] rounded-full min-h-[60px] min-w-[60px] shadow-lg border-none hover:bg-[#264e69] hover:cursor-pointer;
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
  .widget-container {
    bottom: 20px;
    right: 20px;
    width: 400px;
    gap: 1rem;
    border-radius: 16px;
    transition: max-height 3s ease;
  }

  .widget-button {
    padding: 14px 16px;
    margin-top: 4px;
  }

  .modal-overlay {
    position: absolute;
    border-radius: 16px;
  }

  .modal-content {
    border-radius: 16px;
  }

  .widget-hello-message {
    font-size: 40px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
  .widget-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    gap: 1rem;
  }

  .widget-button {
    padding: 14px 16px;
    margin-top: 4px;
  }

  .modal-content {
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
  }
}

@media only screen and (max-width: 376px) {
  .widget-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    border-width: 2px;
    margin-bottom: 15px;
  }

  .widget-hello-message {
    font-size: 32px;
  }

  .widget-message-heading,
  .widget-message {
    line-height: 1.6;
    font-size: 14px;
    letter-spacing: 0.2px;
  }

  .widget-question-section {
    gap: 15px;
  }

  .product-question,
  .chat-with-us,
  .speak-with-agent {
    padding: 16px;
  }

  .chat-with-us {
    margin: 12px 0;
  }

  .chat-question-text {
    font-size: 14px;
  }
}
